:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-brown-grey: rgba(73, 73, 73, 1);
  --color-plastic-black: #0f0f0f;
  --color-dark-orange: #db4900;
  --color-no-color: rgba(0, 0, 0, 0);
  --color-white-semi-transparent: rgba(255, 255, 255, 0.2);
}

html {
  -webkit-tap-highlight-color: var(--color-no-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', Arial, 'Open Sans', sans-serif;
  font-size: 100%;
  width: 100%
}

a:link,
a:visited {
  color: unset;
  text-decoration: none
}

@media screen and (min-width: 0px) {
  .genre-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
  }

  .genre-title {
    border-bottom: 1px solid var(--color-white);
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    margin: 0 0 15px 0;
    padding-bottom: 5px;
    width: 95%
  }

  .genre-image {
    display: flex;
    margin: 15px 0px;
    width: 80%
  }

  .genre-image img {
    width: 100%;
  }

  .review-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: auto;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
  }

  .review-title {
    border-bottom: 1px solid var(--color-white);
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    padding-bottom: 10px;
    width: 95%
  }

  .review-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }

  .review-content p {
    font-stretch: expanded;
    font-size: 4vw;
    line-height: 24px;
    padding: 24px 0;
    text-align: justify;
  }

  .review-content img {
    margin: 24px 0;
    width: 90%;
  }

  .review-content  h2 > a {
    text-decoration: underline;
  }
}

@media screen and (min-width: 768px) {
  .genre-container {
    flex-direction: row;
  }

  .genre-image {
    width: 40%;
  }

  .review-content p {
    font-size: 2vw;
  }

  .review-content img {
    width: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .genre-container {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 330px;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
  }

  .genre-title {
    border-bottom: 1px solid var(--color-white);
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    padding-bottom: 10px;
    width: 95%
  }

  .genre-image {
    display: flex;
    width: 30%
  }

  .genre-image img {
    width: 100%;
  }

  .review-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-bottom: 80px;
    position: relative;
    width: 100%;
  }

  .review-title {
    border-bottom: 1px solid var(--color-white);
    box-sizing: border-box;
    display: flex;
    font-weight: 600;
    padding-bottom: 10px;
    width: 95%
  }

  .review-content {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 95%;
  }

  .review-content p {
    font-stretch: expanded;
    font-size: 1vw;
    line-height: 24px;
    padding: 24px 0;
    text-align: justify;
  }

  .review-content img {
    margin: 24px 0;
    width: 650px;
  }

  .review-content  h2 > a:hover {
    text-decoration: underline;
  }
}