:root {
  --color-black: rgba(0, 0, 0, 1);
  --color-white: rgba(255, 255, 255, 1);
  --color-brown-grey: rgba(73, 73, 73, 1);
  --color-plastic-black: #0f0f0f;
  --color-dark-orange: #db4900;
  --color-no-color: rgba(0, 0, 0, 0);
  --color-white-semi-transparent: rgba(255, 255, 255, 0.2);
}

html {
  -webkit-tap-highlight-color: var(--color-no-color);
  scroll-behavior: smooth;
}

body {
  background-color: var(--color-black);
  color: var(--color-white);
  font-family: 'Montserrat', Arial, 'Open Sans', sans-serif;
  font-size: 100%;
  width: 100%
}

a:link,
a:visited {
  color: unset;
  text-decoration: none
}

@media screen and (min-width: 0px) {
  .games-container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    height: 700px;
    justify-content: center;
    margin-bottom: 80px;
    position: relative;
    width: 100%
  }

  .games-content {
    align-items: center;
    color: var(--color-white-semi-transparent);
    display: flex;
    flex-wrap: wrap;
    font-size: 2vw;
    font-weight: bold;
    height: 80px;
    justify-content: center;
    text-align: center;
    width: 40%;
  }
}